@import 'variables';

// reset css

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

// styles généraux 


button {
    width: 250px;
    height: 53px;
    border-radius: 5px;
    font-size: $heading-5;
    font-weight: bold;
    font-family: $font-1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary, .btn-secondary:hover {
    border: 1px solid $green-300;
    color: $green-300;
    background-color: transparent;
}

.btn-primary:hover, .btn-secondary:active, .btn-secondary {
    border: none;
}

.btn-primary:hover, .btn-secondary {
    background-color: $green-300;
    color: $neutral-100;
}

.btn-primary:active, .btn-secondary:active {
    background-color: $neutral-100;
    color: $green-300;
}

.heading-2 {
    font-size: $heading-2;
    font-family: $font-1;
    font-weight: bold;
}

p {
    font-family: $font-2;
}

.hero, .about, .skills, .contact {
    padding: 50px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}



// styles du header

.header {
    height: 100px;
    background-color: $neutral-100;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_burger_container {
        height: 14.6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &_burger_line-1 {
        height: 2.17px;
        width: 36.25px;
        background-color: $primary-700;
    }
    &_burger_line-2 {
        height: 2.17px;
        width: 25.38px;
        background-color: $green-300;
    }
}

// styles de la section hero


.hero {
    font-family: $font-1;
    height: auto;
    background-color: $primary-500;
    &_display {
        font-size: $heading-3;
        color: $neutral-100;
        max-width: 300px;
    }
    &_name {
        font-size: $heading-1;
        color: $green-300;
        font-weight: 800;
    }
}

// styles de la section about

.about {
    height: 463px;
    background-color: $neutral-100;
    &_title {
        color: $primary-700;
    }
    &_paragraph {
        color: $primary-500;
        font-weight: 600;
        line-height: 28.4px;
    }
}

// styles de la section skills

.skills {
    background-color: $primary-700;
    &_title {
        color: $neutral-100;
    }
    &_list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_column-1, &_column-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
    }
}

.skill_item {
    padding: 10px 23px;
    background-color: rgba(0,0,0,0.5);
    color: $neutral-100;
    font-weight: 600;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.25));
    font-family: 'Montserrat';
    font-size: 12px;
}

// styles de la section projets

.projects {
    background-color: $neutral-100;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    &_title {
        color: $primary-700;
    }
    &_slider {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 321px;
        overflow-x: scroll;
        gap: 50px;
        margin-left: 10vw;
        width: 100vw;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
    }
    &_slider::-webkit-scrollbar {
        width: 0;
    }
    .active {
        transform: scale(1);
    }
    &_item {
        height: 270px;
        background-image: url(../img/card_background.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        scroll-snap-align: start;
        transform: scale(0.8);
        transition: transform(scale) 1s;
        button {
            width: 187px;
            height: 43px;
        }
        &_title {
            color: $neutral-900;
            font-weight: bold;
            font-size: $heading-6;
            font-family: $font-1;
        }
        &_subtitle {
            font-family: $font-2;
            font-size: 14px;
            color: $neutral-900;
        }
    }
    &_item_img_container {
        width: 252px;
        height: 169px;
        position: relative;
        &_image-1 {
            --image1Height: 96px;
            width: 198px;
            height: var(--image1Height);
            position: absolute;
            top: calc(50% - var(--image1Height) / 2);
        }
        &_image-2 {
            --image2Height: 140px;
            width: 64px;
            height : var(--image2Height);
            position: absolute;
            top: calc(50% - var(--image2Height) / 2);
            right: 0px;
        }
    }
}

// styles de la section contacts

.contact {
    background-color: $primary-300;
    gap: 40px;
    &_title {
        color: $neutral-100;
    }
    &_email {
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        background-color: $primary-100;
        justify-content: flex-start;
        gap: 23px;
        align-items: center;
        filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.25));
        &_icon {
            width: 24px;
            height: 24px;
        }
        p {
            font-family: $font-2;
            font-size: 12px;
            font-weight: 600;
            color: $neutral-900;
        }
    }
    &_socials {
        border-radius: 5px;
        display: flex;
        padding: 10px 30px;
        background-color: rgba(0,0,0,0.5);
        justify-content: flex-start;
        gap: 50px;
        align-items: center;
        filter: drop-shadow(2px 6px 6px rgba(0,0,0,0.5));
        &_instagram, &_linkedin {
            width: 24px;
            height: 24px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}