// couleurs

$primary-900 : #000044;
$primary-700 : #191980;
$primary-500 : #4747B2;
$primary-300 : #8A8AE5;
$primary-100 : #CCCCFF;

$green-900 : #076C17;
$green-700 : #10AD29;
$green-500 : #2AD545;
$green-300 : #60D773;
$grenn-100 : #B3E5BB;

$neutral-900 : #636266;
$neutral-700 : #949399;
$neutral-500 : #C1BFC7;
$neutral-300 : #DEDCE5;
$neutral-100 : #F7F5FF;

// polices

$font-1 : 'Chivo';
$font-2: 'Montserrat';

// tailles de polices

$heading-1 : 39.8px;
$heading-2 : 33.2px;
$heading-3 : 27.6px;
$heading-4 : 23px;
$heading-5 : 19.2px;
$heading-6 : 16px;


$paragraph-1 : 23px;
$paragraph-2 : 19.2px;
$paragraph-3 : 16px;